<a href="https://colab.research.google.com/github/Deendayal6265/Python-Deendayal/blob/main/Pattern/Pattern_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#****
#****
#****
#****

In [ ]:
#from the while loop . 
n = int(input("Enter the size : "))
i=1
while i<=n:
  j=1
  while j<=n:
    print(" * ",end="")
    j=j+1
  print()
  i=i+1

Enter the size : 4
 *  *  *  *
 *  *  *  *
 *  *  *  *
 *  *  *  *

In [ ]:
# from for loop 
n  = int(input("enter the size of n "))
for i in range(n):
  for j in range(n):
    print(' & ',end="")
  print()

enter the size of n 4
 &  &  &  &
 &  &  &  &
 &  &  &  &
 &  &  &  &

#1111
#2222
#3333
#4444

In [ ]:
n=int(input("Enter the size:"))

for i in range(1,n+1):
  for j in range(1,n+1):
    print(i,end=" ")

  print()

Enter the size:4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

#1234
#1234
#1234
#1234

In [ ]:
n=int(input("Enter the size:"))

for i in range(1,n+1):
  for j in range(1,n+1):
    print(j,end=" ")

  print()

Enter the size:5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

#4321
#4321
#4321
#4321

In [ ]:
n=int(input("Enter the size:"))

for i in range(1,n+1):
  for j in range(1,n+1):
    print(n-j+1,end=" ")

  print()

Enter the size:4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [ ]:
n=int(input("Enter the size:"))

for i in range(1,n+1):
  for j in range(1,n+1):
    print(n,end=" ")

  print()

Enter the size:5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

#1
#12
#123
#1234

In [ ]:
n = int(input("Enter the size: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter the size: 4
1
12
123
1234

#1
#23
#345
#567

In [ ]:
n = int(input("Enter the size: "))
for i in range(1,n+1):
  for j in range(i):
    print(i+j,end="")
  print()

Enter the size: 4
1
23
345
4567

In [ ]:
n = int(input("Enter the size: "))
p=0
for i in range(1,n+1):
  for j in range(i):
    p=p+1
    print(p,end=" ")
  print()

Enter the size: 4
1
2 3
4 5 6
7 8 9 10

In [ ]:
n= int(input("Enter a number: "))
for i in range(n):
  for j in range(i+1):
    print('*',end="")

  print()

Enter a number: 4
*
**
***
****

In [ ]:
n= int(input("Enter a number: "))
for i in range(1,n+1):
  for j in range(i):
    print(i,end="")

  print()

Enter a number: 4
1
22
333
4444

In [ ]:
k = int(input("Enter the number"))
x= ord('A')
ascii = x+k-1
char_ascii = chr(ascii)
print(char_ascii)

Enter the number3
C

# ABCD
#ABCD
#ABCD
#ABCD

In [ ]:
k = int(input("Enter the number "))
for i in range(k):
  for j in range(k):
    num = chr(ord('A')+j) # main logic
    print(num,end="")
  print()

Enter the number 4
ABCD
ABCD
ABCD
ABCD

#ABCD
#BCDE
#CDEF
#DEFG

In [ ]:
k = int(input("Enter the number "))
for i in range(k):
  for j in range(k):
    num = chr(ord('A')+j+i) # main logic
    print(num,end="")
  print()

Enter the number 4
ABCD
BCDE
CDEF
DEFG

In [ ]:
k = int(input("Enter the number "))
for i in range(k):
  for j in range(i+1):
    num = chr(ord('A')+i) # main logic
    print(num,end="")
  print()

Enter the number 5
A
BB
CCC
DDDD
EEEEE

In [ ]:
# invert alphabets
k = int(input("Enter the number "))
z=k+ord("A")-1
for i in range(k):
  for j in range(i+1):
    num = chr(z-i+j) # main logic
    print(num,end="")
  print()

Enter the number 8
H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH

In [ ]:
k = int(input("Enter the number "))
for i in range(k):
  for j in range(i+1):
    num = chr(ord('A')+i+j) # main logic
    print(num,end="")
  print()

In [ ]:
k = (input("Entere the character"))
z=ord(k)
ascii = z-64
num_ascii = (ascii)
print(num_ascii)

Entere the character5
-11

In [ ]:
print(ord('A'))
print(chr(66))

65
B

In [ ]:

# from for loop 
n  = int(input("enter the size of n "))
for i in range(n):
  for j in range(n-i):
    print(' * ',end="")
  print()

enter the size of n 4
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
# from for loop 
n  = int(input("enter the size of n "))
for i in range(n):
  for j in range(n-i):
    print(n-i,end="")
  print()

enter the size of n 5
55555
4444
333
22
1

In [ ]:
n = int(input("Enter the size: "))
for i in range(n):
  for j in range(n-i):
    print(' ',end="")
  for l in range(i):
    print('*',end="")
  print()

Enter the size: 5

    *
   **
  ***
 ****

In [ ]:
n = int(input("Enter the size: "))
for i in range(n):
  for j in range(n-i):
    print(' ',end="")
  for l in range(1,i+2):
    print(l,end="")
  print()

Enter the size: 5
     1
    12
   123
  1234
 12345

In [ ]:
n = int(input("Enter the size: "))
for i in range(n):
  for j in range(n-i):
    print(' ',end="")
  for l in range(1,i+2):
    print(l,end="")
  for k in range(1,i+1):
    print(l-k,end="")
  print()

Enter the size: 5
     1
    121
   12321
  1234321
 123454321

In [ ]:
n = int(input("Enter the size: "))
for i in range(n):
  for j in range(n-i):
    print(' ',end="")
  for l in range(1,i+2):
    print('*',end="")
  for k in range(1,i+1):
    print("*",end="")
    
  print()

Enter the size: 5
     *
    ***
   *****
  *******
 *********

In [ ]:
n = int(input("Enter the size: "))
for i in range(n):
  for j in range(n-i):
    print(' ',end="")
  for l in range(1,i+2):
    print(l+i,end="")
  for k in range(1,i+1):
    print((l-k)+i,end="")
  print()

Enter the size: 5
     1
    232
   34543
  4567654
 567898765